# PANDAS CASE STUDY: FIFA WORLD CUP

In [2]:
#import libraries
import pandas as pd

In [3]:
#install pyarrow
!pip install pyarrow

Requirement already satisfied: pyarrow in /usr/local/python/3.10.13/lib/python3.10/site-packages (15.0.0)
Requirement already satisfied: numpy<2,>=1.16.6 in /home/codespace/.local/lib/python3.10/site-packages (from pyarrow) (1.26.4)

In [4]:
# loading my dataset

cup_df = pd.read_csv('world_cup_matches.csv')

# Exploratory Analysis of the dataset


1. How many rows and columns are in the dataset?
2. Are there missing values in the dataset?
3. Are there duplicates in the dataset?
4. Check the datatypes of all columns in the dataset
5. Check for Outliers in all numerical columns
6. What is the earliest tournament year recorded in the dataset
7. What is the latest tournament year recorded in the dataset
8. Check for the distinct stages in the dataset

In [5]:
cup_df.head()

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team
0,1,1930,1930-07-13,Group stage,France,4,1,Mexico,NaN,False
1,2,1930,1930-07-13,Group stage,United States,3,0,Belgium,NaN,False
2,3,1930,1930-07-14,Group stage,Yugoslavia,2,1,Brazil,NaN,False
3,4,1930,1930-07-14,Group stage,Romania,3,1,Peru,NaN,False
4,5,1930,1930-07-15,Group stage,Argentina,1,0,France,NaN,False

In [6]:
# lets make a copy of the dataset for refrence sake

df = cup_df.copy()

In [7]:
# 1. How many rows and columns are in the dataset?
#The Data Structure

cup_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              900 non-null    int64
 1   Year            900 non-null    int64
 2   Date            900 non-null    object
 3   Stage           900 non-null    object
 4   Home Team       900 non-null    object
 5   Home Goals      900 non-null    int64
 6   Away Goals      900 non-null    int64
 7   Away Team       900 non-null    object
 8   Win Conditions  62 non-null     object
 9   Host Team       900 non-null    bool
dtypes: bool(1), int64(4), object(5)
memory usage: 64.3+ KB

In [9]:
# 2. Are there missing values in the dataset?

from the data above we can see that there are missing values in the Win Conditions Column about 838 missing values

In [8]:
#3.Are there duplicates in the dataset?
#checking for duplicates

df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
895    False
896    False
897    False
898    False
899    False
Length: 900, dtype: bool

In [9]:
#sum if there are duplicates
df.duplicated().sum()

0

# from the above we can see there are no duplicates in the data set

4. Check the datatypes of all columns in the dataset

In [10]:
cup_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              900 non-null    int64
 1   Year            900 non-null    int64
 2   Date            900 non-null    object
 3   Stage           900 non-null    object
 4   Home Team       900 non-null    object
 5   Home Goals      900 non-null    int64
 6   Away Goals      900 non-null    int64
 7   Away Team       900 non-null    object
 8   Win Conditions  62 non-null     object
 9   Host Team       900 non-null    bool
dtypes: bool(1), int64(4), object(5)
memory usage: 64.3+ KB

In [ ]:
# we can see above that all the datatypes are fine except the Date column tha needs cleaning

5. Check outliers in all numerical columns

In [11]:
# checking for outliers
#sds above the mean 2 + 4 = 6; -2
df.describe()

               ID         Year  Home Goals  Away Goals
count  900.000000   900.000000  900.000000  900.000000
mean   450.500000  1986.915556    1.792222    1.038889
std    259.951919    23.150270    1.593279    1.081567
min      1.000000  1930.000000    0.000000    0.000000
25%    225.750000  1970.000000    1.000000    0.000000
50%    450.500000  1990.000000    2.000000    1.000000
75%    675.250000  2006.000000    3.000000    2.000000
max    900.000000  2018.000000   10.000000    7.000000

# 6. What is the earliest tournament year recorded in the dataset

In [12]:
# Earliest tournament
df["Year"].min()

1930

7. What is the latest tournament year recorded in the dataset

In [13]:
#latest tournament
df["Year"].max()

2018

8.Check for the distinct stages in the dataset

In [15]:
# Distinct stages
distinct_stages = df["Stage"].unique()

In [16]:
distinct_stages

array(['Group stage', 'Semi-finals', 'Final', 'Round of 16',
       'Quarter-finals', 'Third place', 'First round', 'Final round',
       'First group stage', 'Second group stage'], dtype=object)

In [17]:
distinct_stages = df["Stage"].nunique()

In [18]:
distinct_stages

10

In [20]:
#Using the groupby Method
df.groupby('Year')['Stage'].nunique()

Year
1930    3
1934    5
1938    5
1950    2
1954    5
1958    5
1962    5
1966    5
1970    5
1974    4
1978    4
1982    5
1986    6
1990    6
1994    6
1998    6
2002    6
2006    6
2010    6
2014    6
2018    6
Name: Stage, dtype: int64