In [ ]:
# TASKS: Generating Insights with Pandas

1. Which team has played the most number of FIFA World Cup matches.
2. Find the top 5 highest scoring tournament years? Which countries hosted the
Tournament in these years.
3. How many goals has each team scored in the FIFA World Cup? Which team has scored
the highest number of goals? How many goals is it?
4. Which team has hosted the most number of FIFA World Cup tournaments
5. What ratio of goal per game for each team.
6. Which tournament stage are most goals scored in? (Find the goal per game ratio for
each tournament stage)
7. Calculate the win rate for all teams. Which team has the highest win rate
8. Which team has played the most Final? (Stage == Final)
9. Which team has won the most FIFA world Cup (Which team has won the most Final)
10. What percentage of matches went to Extra time in the knockout stages in 2010 (Find
same metric for the last 3 tournaments)
11. What percentage of matches went to Penalties in the knockout stages in 2010 (Find
same metric for the last 3 tournaments)
12. How many times has the Host Nation (Host Team) won the tournament?
13. Which other insights can you think of? Get them for your new employer!

In [28]:
# import libraries
import pandas as pd

In [29]:
# loading my dataset

cup_df = pd.read_csv('world_cup_matches.csv')

In [30]:
# Making a copy of it for refrence
df = cup_df.copy()

In [31]:
# changing date  
df['Date'] = pd.to_datetime(df['Date'])

In [32]:
#change column to lowercase

df.columns = df.columns.str.lower()

In [33]:
# replace whitespace
df.columns = df.columns.str.replace(' ', '_')

In [8]:
# Handling missing conditions
df['win_conditions'] = df['win_conditions'].fillna("Normal Time")

In [34]:
# the dataset
df

,id,year,date,stage,home_team,home_goals,away_goals,away_team,win_conditions,host_team
0,1,1930,1930-07-13,Group stage,France,4,1,Mexico,NaN,False
1,2,1930,1930-07-13,Group stage,United States,3,0,Belgium,NaN,False
2,3,1930,1930-07-14,Group stage,Yugoslavia,2,1,Brazil,NaN,False
3,4,1930,1930-07-14,Group stage,Romania,3,1,Peru,NaN,False
4,5,1930,1930-07-15,Group stage,Argentina,1,0,France,NaN,False
...,...,...,...,...,...,...,...,...,...,...
895,896,2018,2018-07-07,Quarter-finals,Russia,2,2,Croatia,Croatia win on penalties (3 - 4),True
896,897,2018,2018-07-10,Semi-finals,France,1,0,Belgium,NaN,False
897,898,2018,2018-07-11,Semi-finals,Croatia,2,1,England,Extra time,False
898,899,2018,2018-07-14,Third place,Belgium,2,0,England,NaN,False
899,900,2018,2018-07-15,Final,France,4,2,Croatia,NaN,False

In [35]:
# create a new column 'Total Goals'
df['total_goals'] = df['home_goals'] + df['away_goals']

In [ ]:
1. Which team has played the most number of FIFA World Cup matches.

In [37]:
#most Home teams

df['home_team']

0             France
1      United States
2         Yugoslavia
3            Romania
4          Argentina
           ...
895           Russia
896           France
897          Croatia
898          Belgium
899           France
Name: home_team, Length: 900, dtype: object

In [38]:
#most Home teams

df['away_team']

0       Mexico
1      Belgium
2       Brazil
3         Peru
4       France
        ...
895    Croatia
896    Belgium
897    England
898    England
899    Croatia
Name: away_team, Length: 900, dtype: object

In [44]:
pd.concat([df['home_team'], df['away_team']]).value_counts()

Brazil       109
Germany      109
Italy         83
Argentina     81
England       69
            ...
China          3
Cuba           3
Jamaica        3
Kuwait         3
Indonesia      1
Name: count, Length: 81, dtype: int64

In [ ]:
2. Find the top 5 highest scoring tournament years? Which countries hosted the
Tournament in these years.

In [48]:
#highest scoring tournament

df.groupby('year')['total_goals'].sum().sort_values(ascending = False)

year
2014    171
1998    171
2018    169
2002    161
2006    147
1982    146
2010    145
1994    141
1954    140
1986    132
1958    126
1990    115
1978    102
1974     97
1970     95
1966     89
1962     89
1950     88
1938     84
1934     70
1930     70
Name: total_goals, dtype: int64

In [ ]:
3. How many goals has each team scored in the FIFA World Cup? Which team has scored
the highest number of goals? How many goals is it?

In [50]:
4.  #Which team has hosted the most number of FIFA World Cup tournaments

df['host'] = df.apply(lambda row: row['home_team'] if row['host_team'] else "null", axis = 1)

In [51]:
df

,id,year,date,stage,home_team,home_goals,away_goals,away_team,win_conditions,host_team,total_goals,host
0,1,1930,1930-07-13,Group stage,France,4,1,Mexico,NaN,False,5,null
1,2,1930,1930-07-13,Group stage,United States,3,0,Belgium,NaN,False,3,null
2,3,1930,1930-07-14,Group stage,Yugoslavia,2,1,Brazil,NaN,False,3,null
3,4,1930,1930-07-14,Group stage,Romania,3,1,Peru,NaN,False,4,null
4,5,1930,1930-07-15,Group stage,Argentina,1,0,France,NaN,False,1,null
...,...,...,...,...,...,...,...,...,...,...,...,...
895,896,2018,2018-07-07,Quarter-finals,Russia,2,2,Croatia,Croatia win on penalties (3 - 4),True,4,Russia
896,897,2018,2018-07-10,Semi-finals,France,1,0,Belgium,NaN,False,1,null
897,898,2018,2018-07-11,Semi-finals,Croatia,2,1,England,Extra time,False,3,null
898,899,2018,2018-07-14,Third place,Belgium,2,0,England,NaN,False,2,null
899,900,2018,2018-07-15,Final,France,4,2,Croatia,NaN,False,6,null

In [ ]:
df.groupby